<% questions.each do |question| %>


  <div class="project-question">


  </div>











  <div class="question">
    <div class="question-title">
      <%= link_to question.title, project_question_path(question.project, question) %>
    </div>

    <div class="question-actions">
      <%= link_to "Edit", edit_project_question_path(question.project, question) %> ·
      <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

    <div class="question-stats">
      <ul class="stats-bar">
        <li>
          <i class="fa fa-eye"></i> <%= question.impressionist_count %>
        </li>
        <li>
          <i class="fa fa-heart"></i> XXX
        </li>
      </ul>
    </div>
  </div>
<% end %>



<div class="list-group hidden">
  <% questions.each do |question| %>


    <div class="list-question list-group-item searchable">
      <div class="row">
        <div class="col-sm-5">
          <a href="<%= url_for project_question_path(question.project, question) %>">
            <b><%= question.title %></b>
            <% if question.active? %>
              <i class="fa fa-check-square"></i>
            <% end %>
          </a>
        </div>
        <div class="col-sm-7 text-right">
          <div class="info hidden">
            <span class="label label-default">
              67 <i class="fa fa-comment"></i>
            </span>
          </div>
          <div class="info">
            <span class="label label-default">
              <%= question.impressionist_count %>
              <i class="fa fa-eye"></i>
            </span>
          </div>
          <div class="info">
            <small>
              <%= link_to "Edit", edit_project_question_path(question.project, question) %> ·
              <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %>
            </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
