<%= render "projects/header", project: @project %>

<% unless @questions.empty? %>

  <div class="questions-listing">
    <%= render 'questions/list', questions: @questions %>
  </div>

<% else %>
  <p class="lead">This project is empty. <%= link_to "Add", new_project_question_path(@project) %> a Question now.</p>
<% end %>

<% content_for "sidebar" do %>
  <%= link_to "Add Question".html_safe, new_project_question_path(@project), class: "btn btn-primary" %>
  <%= link_to "Edit Project".html_safe, edit_project_path(@project), class: "btn btn-default" %>
  <%#= link_to "Show Project".html_safe, frontend_index_path(@project), class: "btn btn-default" %>
  <%= render "layouts/activity_box", resource: @project %>
<% end %>
