<%= render 'projects/header', project: @question.project %>


<h2><%= @question.title %></h2>


<div class="question-answer highlight well">
  <%= markdown(@question.answer) %>
</div>



<% content_for "sidebar" do %>
  <%= link_to "Edit Question".html_safe, edit_project_question_path(@question.project, @question), class: "btn btn-primary" %>
  <%#= link_to "Show Question".html_safe, frontend_question_path(@question), class: "btn btn-default" %>
  <%= render "layouts/activity_box", resource: @question %>
  <hr>
  <%= link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link-danger" %>
<% end %>
