<h1>Team Members</h1>


<div class="row">
  <% @profiles.each do |profile| %>
    <div class="col-sm-4">
      <div class="media">
        <div class="pull-left" href="<%= url_for profile %>">
          <img src="<%= profile.avatar(:thumb_square) %>", alt="<%= profile.user.fullname %>" title="<%= profile.user.fullname %>" width="75">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= profile.user.fullname %></h4>
          <% if profile.is_active? %>
            <span class="label label-info">active</span>
          <% else %>
            <span class="label label-default">invited</span>
          <% end %>
        </div>
      </div>
      <br>
    </div>
  <% end %>
</div>
<%= link_to 'Invite member', new_user_invitation_path, class: "btn btn-primary" %>
