<div class="page-header">
  <h1>Results for: <span class="highlight"><%= @search_query %></span></h1>
</div>

<% if @results.count > 0 %>
  <p>About <%= pluralize(@results_count, "result")%></p>
  <%= debug @results %>
<% else %>
  <p class="lead">No results found for <span class="highlight"><%= @search_query %></span>.</p>
<% end %>










































<%# if @search.results.count == 0 %>

<%# else %>
<%# end%>

<%# @search.each_hit_with_result do |hit, result| %>
  <%#= debug result if result.class.to_s.downcase == params[:class] && params.has_key?(:class) %>
  <%#= debug result %>
<%# end %>














<%= paginate @results_blank.hits %>




<% content_for "sidebar" do %>
  <ul class="nav nav-pills nav-stacked">
    <% @sidebar_elements.each do |res| %>
      <li class="<%= params[:class] == res[1] ? 'active' : 'not' %>">
        <% if params.has_key?(:class) && params[:class] == res[1] %>
          <a href="<%= url_for params.merge(class: nil) %>">
        <% else %>
          <a href="<%= url_for params.merge(class: res[1]) %>">
        <% end %>
          <span class="badge pull-right"><%= search_result_count(res[1], @all_grouped_results) %></span>
          <%= res[0] %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
