<div class="page-header">
  <h1>Results for: <span class="highlight"><%= @search_query %></span> <small>(<%= pluralize(@results.group(:klass).matches, "result")%>)</small></h1>
</div>

<% if @results.group(:klass).matches > 0 %>
  <% @results.group(:klass).groups.each do |group| %>
    <h4><%= pluralize(group.results.count, group.value.to_s) %></h4>
    <%= render group.value.to_s.downcase, items: group.results %>
  <% end %>



  <%#= paginate @results.group(:klass).groups.hits %>
<% else %>
  <p class="lead">No results found for <span class="highlight"><%= @search_query %></span><%= " in #{params[:class]}s" if params.has_key?(:class) %>.</p>
<% end %>


<% content_for "sidebar" do %>
  <ul class="nav nav-pills nav-stacked">
    <% @sidebar_elements.each do |res| %>
      <li class="<%= params[:class] == res[1] ? 'active' : 'not' %>">
        <% if params.has_key?(:class) && params[:class] == res[1] %>
          <a href="<%= url_for params.merge(class: nil, page: nil) %>">
        <% else %>
          <a href="<%= url_for params.merge(class: res[1], page: nil) %>">
        <% end %>
          <span class="badge pull-right hidden"><%#= search_result_count(res[1], @results.group(:klass).groups) %></span>
          <%= res[0] %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
