<% content_for "headline" do %>
  <h2>Sign in to <a href="/">Satiisfy</a></h2>
<% end %>



<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <% if @login %>
      <%= f.hidden_field :login, :required => false, value: cookies[:satiisfy_fast_login_id] %>
      <div class="form-group">

        <div class="media">
          <div class="pull-left">
            <img class="media-object avatar" src="<%= @login.avatar(:thumb) %>" width="41">
          </div>
          <div class="media-body">
            <p class="form-control-static">Welcome back, <b><%= @login.firstname_fallback %></b>!<br><small>Not you? <%= link_to "Switch User", "xxx", :id => "switch-user" %></small></p>
          </div>
        </div>
      </div>
      <%= f.input :password, :required => false, :autofocus => true, label: false, placeholder: "Password" %>

    <% else %>

      <%= f.input :login, :required => false, :autofocus => true, label: false, placeholder: "Login" %>
      <%= f.input :password, :required => false, label: false, placeholder: "Password" %>
    <% end %>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox">
        <label>
          <%= f.input :remember_me, :as => :boolean, label: false, input_html: { checked: "checked" } %> Remember me
        </label>
      </div>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in", class: "btn-primary btn-lg" %>
  </div>
<% end %>


<script type="text/javascript">
  $("#switch-user").click(function(e){
    e.preventDefault();

    // delete user cookie
    delete_cookie("satiisfy_fast_login_id");

    // reload page
    location.reload();
  });


  // delete cookie
  var delete_cookie = function(name) {
    document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  };
</script>
