<div class="project">
  <div class="project-body">
    <div class="project-title">
      <%= link_to project.title, project %>
      <% if project.active? %>
        <i class="fa fa-check-square"></i>
      <% end %>
    </div>

    <div class="project-description">
      <%= project.description %>
    </div>

    <div class="project-stats">
      <ul class="stats-bar">
        <li>
          <i class="fa fa-comment"></i> <%= project.questions.count %>
        </li>
        <li>
          <i class="fa fa-eye"></i> <%= project.impressionist_count %>
        </li>
        <li>
          <i class="fa fa-heart"></i> XXX
        </li>
      </ul>
    </div>

    <div class="project-actions">
      <% if project.active? %>
        <%= link_to 'Show', frontend_index_url(subdomain: project.subdomain, account_id: nil), target: "_blank" %> ·
      <% end %>
      <%= link_to 'Edit', edit_project_path(project) %> ·
      <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
