<div class="page-header">
  <h1>Projects <small>(<%= @projects.active.count %>/<%= @projects.count %>)</small></h1>
</div>

<% if @projects.first.present? %>
  <div class="projects-listing">
    <%= render "projects/grid", projects: @projects %>
  </div>
<% else %>
  <p class="lead text-center"><%= link_to "Add a project", new_project_path %> now.</p>
<% end %>


<div class="note-area">
  <i class="fa fa-globe"></i> This project is live and published.
</div>




<% content_for "sidebar" do %>
  <%= link_to "Add Project".html_safe, new_project_path, class: "btn btn-primary" %>
<% end %>
