<div class="page-header">
  <h1>Projects <small>(<%= @projects.active.count %>/<%= @projects.count %>)</small></h1>
</div>

<% if @projects.first.present? %>
  <div class="projects-wrapper">
    <% @projects.each do |project| %>
      <%= render 'project', project: project %>
    <% end %>
  </div>
<% else %>
  <p class="lead text-center"><%= link_to "Add a project", new_project_path %> now.</p>
<% end %>





<% content_for "sidebar" do %>
  <%= link_to "<i class='fa fa-plus'></i> Add".html_safe, new_project_path, class: "btn btn-primary" %>
<% end %>
