<!DOCTYPE html>
<html>
  <head>
    <title><%=@current_account.title %> - Satiisfy</title>
    <%= stylesheet_link_tag    "backend/application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>


    <div class="wrapper">
      <div id="page" class="page">
        <div class="sidebar">
          <%= yield "sidebar" %>
        </div>
        <div class="content">
          <%= render 'layouts/alerts' %>
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'layouts/shared/footer' %>
  </body>
</html>
