<!DOCTYPE html>
<html>
  <head>
    <title>Satiisfy</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <%= render 'layouts/navbar' %>
    </header>
    
    <div class="container">
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </div>

    <footer>
      <div class="container text-right">
        <hr>
        <p>
          <small>
            by <a href="http://www.satiisfy.com" target="_blank">Satiisfy</a>
          </small>
        </p>
      </div>
    </footer>

  </body>
</html>
