<!DOCTYPE html>
<html>
  <head>
    <title>Satiisfy</title>
    <%= stylesheet_link_tag    "devise", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body  class="devise">

    <div class="wrapper">
      <div class="page">
        <div class="sidebar">
          <%= yield "sidebar" %>
        </div>
        <div class="content">
          <%= render 'layouts/alerts' %>
          <%= yield %>

          <footer>
            <div class="footer-nav clearfix">
              <div class="pull-left">
                <%= render "users/shared/links" %>
              </div>

              <div class="pull-right">
                <a href="http://www.satiisfy.com" target="_blank">Satiisfy.com</a>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
